@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom classaNames */
@layer components {
    .container-wrapper {
        @apply h-screen py-4 px-6 md:py-[40px] md:px-[70px]
    }
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #C4C4C4; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f; 
}

p,h1,h3,a,hr {
  color: #8F9BAE;
}

h2 {
  color: #3C2344;
}

body {
  background-color: #F5F6F6;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #EFEFEF;
  border-radius: 20px;
  cursor: grab;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav__menu {
  display: flex;
  /* flex-direction: column;
  align-items: flex-end; */
}

/* .nav__menu ul {
  list-style-type: none;
  margin-top: 50px;
} */

.nav__menu li {
  /* display: inline-block; */
  position: relative;
  /* font-weight: bold; */
}

.nav__menu li:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #286F6C;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

/* .color li:after {
  background-color: #F5F6F6;
} */

.nav__menu li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* type effect */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #286F6C; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #286F6C; }
}